

#image-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.images {
    border-radius: 20px;
    transition: 1s;
}

#box-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause,
#play,
#avanti,
#indietro {
    margin: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: x-large;
}