#container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.images {
    border-radius: 20px;
    transition: 1s;
}

#play {
    display: flex;
    justify-content: center;
}